body {
    background-color: #fff6cc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: left;
    padding: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin-right: 20px;
}

#header-top {
    margin-top: 40px;
    font-size: 30px;
    margin: 0;
}

nav {
    flex-grow: 1;
    text-align: center;
    margin-left: -20px; /* Adjust this value to move the links more to the left */
}

.top-lk {
    display: inline-block;
    margin-left: 20px; /* Adjust this value if needed */
    font-size: 24px;
    font-family: serif;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

article, .post, .web-pages-info {
    border: 4px solid Salmon;
    text-align: center;
    padding: 20px;
    background-color: white;
}

.post {
    width: 44%;
    height: 60%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    overflow: auto;
}

.web-pages-info {
    width: 500px;
    height: 500px;
    float: left;
    padding: 50px;
    margin: 30px;
    text-align: center;
    overflow: auto;
}

iframe {
    width: 500px;
    height: 500px;
}

.web-page-link {
    font-size: 20px;
}

.aside-left, .aside-right {
    border: 4px solid Salmon;
    background-color: white;
    width: 150px;
    padding: 12px;
    text-align: center;
    height: fit-content;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#footer-left, #footer-right {
    border: 4px solid Salmon;
    background-color: white;
    padding: 20px;
    overflow: auto ;
}

#footer-left {
    width: 60%;
}

#footer-right {
    width: 30%;
}

a:link, a:visited {
    color: #8b0000;
    text-decoration: none;
}

a:hover, a:active {
    color: #ff8c00;
    text-decoration: underline;
}

#life-bus {
    height: fit-content;

}
